<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.pietrocapriata.pietrolettore" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".BlogpostListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BlogpostDetailActivity"
            android:label="@string/title_blogpost_detail"
            android:parentActivityName=".BlogpostListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BlogpostListActivity" />
        </activity>
    </application>

</manifest>
